body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding: 20px;
    max-width: 940px;
    margin: auto;
}
.content{
    border: solid;
}
.sale{
    position: fixed;
    background-color: #ed2f2f;
    color: white;
    padding-left:10px;
    padding-right:10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
    margin-top: -10px;
    margin-left: -25px;
}
.header{
    text-align: center;
    background-color: #efefef;
    padding: 8px;
}
.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 1em;
    padding: 0;
}
.info img{
    width: 100%;
}
.desc{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1em;
    padding: 0;
    margin: 0;
}
.desc-header{
    display: inline-flex;
    justify-content: space-between;
}
.desc-header h5{
    color: gray;
}
.desc-text p{
    margin-top: -3em;
}
.desc-color{
    display: inline-flex;
    justify-content:baseline;
    margin-top: 1em;
}
.color1{
    background-color: black;
    width: 30px;
    height: 30px;
}
.color2{
    background-color: #2f6ee1;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.color3{
    background-color: #ed2f30;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.color4{
    background-color: #f0be1d;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.color5{
    background-color: #90cb1f;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.color6{
    background-color: #885214;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.desc-specs ul li{
    padding: 10px;
}
.btn-container{
    border: solid;
    width: 100%;
    margin-top: -4px;
    margin-bottom: -3px;
    margin-left: -3px;
    position: relative;
    padding: 0;
}
.btn{
    font-size: 14pt;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    width: 100%;
    padding: 15px;
}
button.btn:hover{
    background-color: white;
    color: black;
}